@font-face {
  font-display: swap; 
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/e-ukraine-light_w.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/e-ukraine-medium_w.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/e-ukraine-bold_w.woff2') format('woff2');
}