:root {
    --color-primary-light: #383E47;
    --color-link: #1D1E20;
    // --color-primary-dark: #000000;
    // --color-brand-light: #2B7FFF;
    // --color-brand-dark: #011C44;
    // --color-privacy-policy: #747272;
    --color-white: #FFFFFF;
    // --color-bonus: #4A4A4A;
    // --big-star-color: #011F4A;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;